.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.open-popup-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.open-popup-button:hover {
    background-color: #0056b3;
}

.login-button {
    background-color: #28a745;
}

.login-button:hover {
    background-color: #218838;
}

.register-button {
    background-color: #ffc107;
}

.register-button:hover {
    background-color: #e0a800;
}

.logout-button {
    background-color: #dc3545;
}

.logout-button:hover {
    background-color: #c82333;
}

#success-message {
    display: none;
    color: green;
    font-size: 0.9rem;
    margin-left: 10px;
}
#company-message {
    display: none;
    color: green;
    margin-top: 10px;
}
#loader {
    display: none;
}
#success-message {
    display: none;
    color: green;
}
