
/* Contenedor del logo y título */
.logo-title-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.4s;
}



/* Estilos para la imagen del logo */
.logo {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    max-width: 10rem;
    margin: 0 1.5rem 0 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    transition: box-shadow 0.4s, transform 0.4s;
    overflow: hidden;
}

.logo:hover {
    box-shadow: 0 7px 20px rgba(255, 255, 255, 0.6);
    transform: scale(1.1);
}

.logo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
    transition: background-color 0.4s;
}

.logo:hover::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.logo img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.4s;
}

.logo:hover img {
    opacity: 1;
}


nav a:active {
    transform: scale(0.93);
    color: #ffb700;
}

/* Título del sitio */
.site-title {
    margin: 0rem;
    margin-left: 0rem;
    font-size: 4rem;
    font-weight: 800;
    color: hsl(115, 74%, 24%);
    text-shadow: 2px 2px 8px rgba(250, 250, 248, 0.8);
    transition: transform 0.3s, text-shadow 0.4s, color 0.3s;
}

.site-title:hover {
    color: #0e0d00;
    transform: scale(1.02);
    text-shadow: 3px 3px 10px rgba(250, 250, 248, 1);
}

/* Lista de navegación */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0rem;
    display: flex;
    gap: 1.9rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    height: 4rem;
    font-size: 1.5rem;


}

.nav-list li {
    transition: transform 0.3s;
}

.nav-list li:hover {
    transform: translateY(-2px);
}

/* Enlaces de la lista de navegación */
.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-list a:hover {
    color: #000;
    background-color: #ffd700;
}

/* Botones avanzados */
.button,
.login-button,
.register-button {
    background-color: rgba(253, 253, 252, 0.8);
    color: #000;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    outline: none;
}

.button:hover,
.login-button:hover,
.register-button:hover {
    background-color: #057a00;
    color: #fff;
    box-shadow: 0 6px 18px rgba(0, 128, 0, 0.4);
    transform: translateY(-2px);
}

.button:active,
.login-button:active,
.register-button:active {
    transform: scale(0.98);
}

.button:focus,
.login-button:focus,
.register-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/* Estilos para formularios todos los textos tienen este color en comun salvo que algo diga lo contrario */
form label {
    display: block;
    margin: 0.75rem 0 0.4rem;
    font-weight: 600;
    color: #000000;
}

form input {
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input:focus {
    border-color: #268f30;
    box-shadow: 0 0 5px rgba(38, 153, 48, 0.3);
}

form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #269930;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form button:hover {
    background-color: #218838;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

form button:active {
    background-color: #d8ca4e;
    transform: scale(0.98);
}

/* Estilos avanzados para pop-ups */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    animation: fadeBackground 0.4s ease;
}

.popup .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.popup-content {
    color: #2b2b2b;
    background-color: rgba(253, 253, 251, 0.9);
    padding: 1.5rem;
    margin: 10% auto;
    width: 80%;
    max-width: 24rem;
    border-radius: 1rem;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(255, 255, 255, 0.2);
    animation: slideIn 0.4s ease-out;
    transform: scale(0.9);
}

.popup-content:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 5px 12px rgba(255, 255, 255, 0.3);
}

.close {
    color: #999;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.close:hover,
.close:focus {
    color: #1a1a1a;
    transform: scale(1.2);
    cursor: pointer;
}

/* Estilos de calificación */
.rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    justify-content: flex-end;
}

/* Estilos globales */
body {
    background: linear-gradient(135deg, #fc9816, #fc9816, #fc9816);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color: #faf9f9;
    background-color: #f4f5f5;
    overflow-x: hidden;
    position: relative;
    margin: 1rem;
    padding: 1rem; /* Espaciado interno uniforme */

}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    pointer-events: none;
}

/* Contenedor principal */
#main-container {
    display: colu;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#reviews,
#chat {
    grid-column: span 1;
}

/* Sección #home */
#home {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, rgba(4, 122, 0, 0.8), rgba(34, 139, 34, 0.7));
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 94rem;
    transition: transform 0.3s, box-shadow 0.3s;
    font-size: 1.2rem;
    /* Aumenta este valor según sea necesario */

}

#home:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}






/* Sección de chat */
#chat {
    flex: 1;
    margin: 1rem;
    min-width: 20rem;
}

/* Título del chat */
#chat-title {
    font-size: 3.75rem;
    color: #ffffff;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
    text-align: left;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Contenedor del chat */
#chat-container {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 50rem;
    padding: 1rem;
    background: linear-gradient(135deg, #046b00, #0a8c36);
    border-radius: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    margin: 1.5rem auto;
    margin-bottom: 1rem;

}

/* Lista de usuarios */
#user-list {
    overflow-y: auto;
    max-width: 10rem;
    padding: 1.5rem;
    background-color: #1a7425;
    border-radius: 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #f0ecec;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

/* Usuarios en línea */
#online-users-container {
    margin-top: 0rem;
    padding: 0.75rem;
    border: 1px solid rgba(248, 247, 247, 0.5);
    border-radius: 0.5rem;
    background-color: rgba(239, 245, 240, 0.6);
    height: 230px;
    /* Establece una altura fija */
    overflow-y: auto;
    /* Agrega la barra de desplazamiento vertical */
}

#online-users {
    list-style: none;
    padding: 0;
    margin: 0;
}

#online-users li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

#online-users img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#online-users span {
    font-weight: bold;
    color: #030303;
}

#online-users-count {
    font-weight: bold;
    margin-top: 1rem;
    color: #ffffff;
}

/* Indicador de escritura */
.typing-indicator {
    font-style: italic;
    color: #888;
    margin-top: 0.75rem;
}

/* Mensajes */
.message-wrapper {
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: rgba(233, 233, 233, 0.75);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

}

.username {
    font-weight: bold;
    color: #004085;
    margin-bottom: 0.3rem;
}



.error-message {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
}

/* Contenedor de mensajes */
#messages {
    overflow-y: auto;
    flex: 1;
    padding: 0.75rem;
    background: rgba(3, 94, 0, 0.35);
    border-radius: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: 47vh;
    width: 95%;
    margin: 0.75rem auto;
    border: 1px solid rgba(252, 251, 251, 0.9);
    height: 390px;
    /* Establece una altura fija */
    overflow-y: auto;
    /* Agrega la barra de desplazamiento vertical */
}

/* Área de entrada de mensajes */
#message-input {
    padding: 0.5rem 1rem;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
    margin: 0.5rem auto;
    width: calc(100% - 2rem);
    background-color: #fff;
    color: #333;
    font-size: 1rem;
}

/* Botón de envío */
#send-button {
    padding: 0.6rem 1rem;
    background-color: #0282bd;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: background-color 0.3s, transform 0.2s;
}

#send-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


/* Estilos globales para el pie de página */
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    background: linear-gradient(135deg, #0f0f0f00, #00000000);
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 4%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#footer:hover {
    background-color: #a6801f;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);

}

/* Contenedor de contacto */
#contact-container {
    margin-right: 0;
}

/* Iconos de redes sociales */
.social-logo {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.9s;
    margin: 0 0.625rem;
}

.social-logo:hover {
    transform: scale(2.1);
}

/* Contenedor de sugerencias */
#sugerencias-container {
    position: absolute;
    width: 100%;
    background: rgb(4, 122, 0);
    border: 1px solid #e0e0e0;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
}

/* Elemento de sugerencia */
.sugerencia-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.sugerencia-item:hover {
    background: rgba(6, 192, 0, 0.5);
    color: #f7f3f3;
    font-weight: bold;
}

/* Campo de búsqueda */
#buscar {
    width: 87%;
    background: linear-gradient(135deg, rgba(4, 122, 0, 0.8), rgba(34, 139, 34, 0.7));
    color: #020202;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 3rem;   
     position: relative;
}

#buscar:focus {
    background-color: rgba(0, 123, 255, 0.1);
    border-color: #0056b3;
    outline: none;
}

/* Botón de búsqueda */
#buscar-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#buscar-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#buscar-btn:active {
    background-color: #003f7f;
    transform: scale(0.98);
}

/* Contenedor de reseñas */
#reviews {
    max-width: 855px;
    margin: 50px;
    padding: 20px;
    background: linear-gradient(135deg, rgba(4, 122, 0, 0.8), rgba(34, 139, 34, 0.7));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.98);
    font-family: Arial, sans-serif;
    max-height: 600px;
    overflow-y: auto;
}

/* Títulos de la sección de reseñas */
#reviews h2,
#reviews h3 {
    font-size: 1.8em;
    color: #030303;
    margin-bottom: 15px;
}

/* Formulario de reseñas */
#form-agregar-resena {
    margin-top: 0;
    margin-right: 1rem;
}

#form-agregar-resena label {
    font-weight: bold;
    color: #000;
    margin-bottom: 0;
    display: inline-block;
}

#form-agregar-resena input[type="text"],
#form-agregar-resena input[type="number"],
#form-agregar-resena textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.98);
}

#form-agregar-resena button[type="submit"] {
    width: 100%;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#form-agregar-resena button[type="submit"]:hover {
    background: #0056b3;
}

/* Estrellas de calificación */
.rating-container {
    display: inline-block;
    direction: ltr;
}

.estrella {
    font-size: 2.0rem;
    color: #d6d30e;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.estrella:hover,
.estrella:hover~.estrella {
    color: #f4c542;
}

.estrella.seleccionada,
.estrella.seleccionada~.estrella {
    color: #f4c542;
}

.estrella:hover {
    transform: scale(1.2);
}

/* Promedio de estrellas */
/* Botón de cierre de sesión */
.logout-button {
    background-color: #df3543;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logout-button:hover {
    background-color: #ca2525;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logout-button:active {
    background-color: #bd1f1f;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Formulario para añadir empresa */
#add-company-form {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;

}

/* Mensaje de la empresa */
#company-message {
    font-size: 1em;
    color: green;
}

details summary {
    color: #007BFF;
    /* Color del texto del resumen */
    font-weight: bold;
    cursor: pointer;
}

details[open] summary {
    color: #0056b3;
    /* Color del texto del resumen cuando está abierto */
}

details p {
    color: #080808;
    /* Color del texto del contenido */
}


/* Marker setup */
.awesome-marker {
    background: url('images/markers-soft.png') no-repeat;
    width: 35px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

.awesome-marker-shadow {
    background: url('images/markers-shadow.png') no-repeat;
    width: 36px;
    height: 16px;
}

.awesome-marker i {
    color: #333;
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}

.awesome-marker .icon-white {
    color: #fff;
}

/* Colores de marcadores */
.awesome-marker-icon-red {
    background-position: 0 0;
}

.awesome-marker-icon-darkred {
    background-position: -180px 0;
}

.awesome-marker-icon-lightred {
    background-position: -360px 0;
}

.awesome-marker-icon-orange {
    background-position: -36px 0;
}

.awesome-marker-icon-beige {
    background-position: -396px 0;
}

.awesome-marker-icon-green {
    background-position: -72px 0;
}

.awesome-marker-icon-darkgreen {
    background-position: -252px 0;
}

.awesome-marker-icon-lightgreen {
    background-position: -432px 0;
}

.awesome-marker-icon-blue {
    background-position: -108px 0;
}

.awesome-marker-icon-darkblue {
    background-position: -216px 0;
}

.awesome-marker-icon-lightblue {
    background-position: -468px 0;
}

.awesome-marker-icon-purple {
    background-position: -144px 0;
}

.awesome-marker-icon-darkpurple {
    background-position: -288px 0;
}

.awesome-marker-icon-pink {
    background-position: -504px 0;
}

.awesome-marker-icon-cadetblue {
    background-position: -324px 0;
}

.awesome-marker-icon-white {
    background-position: -574px 0;
}

.awesome-marker-icon-gray {
    background-position: -648px 0;
}

.awesome-marker-icon-lightgray {
    background-position: -612px 0;
}

.awesome-marker-icon-black {
    background-position: -682px 0;
}

/* Menú de sector */
#sectorMenu {
    display: none;
    background: linear-gradient(145deg, #1f1f1f, #333);
    border: 1px solid #444;
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    transition: transform 0.4s, box-shadow 0.4s;
}

#sectorMenu:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

/* Label en el menú de sector */
#sectorMenu label {
    font-weight: bold;
    color: #eee;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}

/* Select personalizado */
#sectorSelect {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: #444;
    color: #ddd;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"20\" height=\"20\" viewBox=\"0 0 24 24\"><path fill=\"%23ddd\" d=\"M7 10l5 5 5-5z\"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: background 0.3s, color 0.3s;
}

#sectorSelect:hover {
    background-color: #555;
    color: #fff;
}

#sectorSelect:focus {
    outline: none;
    box-shadow: 0 0 5px #bbb, 0 0 10px rgba(255, 255, 255, 0.2);
}

#sectorSelect option {
    background-color: #333;
    color: #ddd;
    padding: 12px;
}

#sectorSelect option:hover {
    background-color: #555;
    color: #f3eded;
}

/* Ícono de búsqueda */
#map .fa-search {
    position: absolute;
    top: 15px;
    right: 275px;
    font-size: 1.5em;
    z-index: 1001;
}

/* Contenedor de filtros */
#filtros-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 250px;
    background: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.fa-search {
    color: #000000;
    /* Cambia este valor al color que desees */
    cursor: pointer;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.cookie-banner-content {
    max-width: 80%;
}

.cookie-buttons {
    display: flex;
    gap: 10px;
}

.cookie-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.cookie-btn.accept {
    background: #28a745;
    color: white;
}

.cookie-btn.reject {
    background: #dc3545;
    color: white;
}

.cookie-btn.customize {
    background: #ffc107;
    color: black;
}

.cookie-link {
    color: #17a2b8;
    text-decoration: underline;
    font-size: 12px;
}

.hidden {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.open-popup-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.open-popup-button:hover {
    background-color: #0056b3;
}

.login-button {
    background-color: #28a745;
}

.login-button:hover {
    background-color: #218838;
}

.register-button {
    background-color: #ffc107;
}

.register-button:hover {
    background-color: #e0a800;
}

.logout-button {
    background-color: #dc3545;
}

.logout-button:hover {
    background-color: #c82333;
}

#success-message {
    display: none;
    color: green;
    font-size: 0.9rem;
    margin-left: 10px;
}

#company-message {
    display: none;
    color: green;
    margin-top: 10px;
}

#loader {
    display: none;
}

#success-message {
    display: none;
    color: green;
}
/* Estilo general del mapa */
#map {
    width: 90%; /* Ocupa todo el ancho del contenedor */
    height: 800px; /* Altura predeterminada para pantallas grandes */
    margin: 3rem;
    border-radius: 10px; /* Bordes redondeados para un estilo moderno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para un efecto profesional */
    overflow: hidden;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    #map {
        height: 300px; /* Altura ajustada para pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    #map {
        height: 250px; /* Altura optimizada para móviles */
        margin: 10px; /* Separación en móviles */
    }
}

/* Botones de Leaflet */
.leaflet-container .leaflet-control-zoom-in,
.leaflet-container .leaflet-control-zoom-out {
    background-color: #0563bb; /* Color acorde al diseño */
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.leaflet-container .leaflet-control-zoom-in:hover,
.leaflet-container .leaflet-control-zoom-out:hover {
    background-color: #00bcd4; /* Efecto hover */
}

/* Mejoras en los controles de capas */
.leaflet-control-layers {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
